<mat-toolbar color="primary" class="navbar">
  <span class="logo">
    <mat-icon>storefront</mat-icon>
    Estilo & actitud
  </span>

  <span class="spacer"></span>

  <a mat-button routerLink="/inicio" routerLinkActive="active">Inicio</a>
  <a mat-button routerLink="/productos" routerLinkActive="active">Productos</a>
  <a mat-button routerLink="/clientes" routerLinkActive="active">Clientes</a>
  <a mat-button routerLink="/pedidos" routerLinkActive="active">Pedidos</a>
  <a mat-button routerLink="/categorias" routerLinkActive="active">Categorías</a>
</mat-toolbar>
